logging:
  level:
    ROOT: INFO
    tech.jhipster: INFO
    com.freelance.app: INFO

management:
  prometheus:
    metrics:
      export:
        enabled: false

spring:
  devtools:
    restart:
      enabled: false
    livereload:
      enabled: false
  liquibase:
    contexts: prod
    url: jdbc:postgresql://localhost:5432/freelanceApp
  mail:
    host: localhost
    port: 25
    username:
    password:
  r2dbc:
    url: r2dbc:postgresql://localhost:5432/freelanceApp
    username: freelanceApp
    password:
  thymeleaf:
    cache: true

server:
  port: 8080
  shutdown: graceful
  compression:
    enabled: true
    mime-types: text/html,text/xml,text/plain,text/css,application/javascript,application/json,image/svg+xml
    min-response-size: 1024

jhipster:
  http:
    cache:
      timeToLiveInDays: 1461
  security:
    authentication:
      jwt:
        base64-secret: Nzg3MjY3YmI4OGIyN2FkZDhmMWIwM2Y5NDY4YmZjOWNlNzc4MmQ0NWU4MTQxMmY1ZDQ5YzYxZTYyNzhjNjQwODk3NDEyMmYxMmQyYWIyODRjMDM5YmVhZDg1N2Q0ZjNhYTVlOTY4NjE1NDFiNTZjZWFmMWE0NjFiZGI2MDg0Mzg=
        token-validity-in-seconds: 86400
        token-validity-in-seconds-for-remember-me: 2592000
  mail:
    base-url: http://my-server-url-to-change
  logging:
    use-json-format: false
    logstash:
      enabled: false
      host: localhost
      port: 5000
      ring-buffer-size: 512
# application:
