logging:
  level:
    ROOT: DEBUG
    tech.jhipster: DEBUG
    org.hibernate.SQL: DEBUG
    com.freelance.app: DEBUG

spring:
  devtools:
    restart:
      enabled: true
      additional-exclude: static/**
    livereload:
      enabled: false
  jackson:
    serialization:
      indent-output: true
  liquibase:
    contexts: dev
    url: jdbc:postgresql://localhost:5432/freelanceapp
  mail:
    host: localhost
    port: 25
    username:
    password:
  messages:
    cache-duration: PT1S
  r2dbc:
    url: r2dbc:postgresql://localhost:5432/freelanceapp
    username: postgres
    password: postgres
  thymeleaf:
    cache: false

server:
  port: 8080
  forward-headers-strategy: native

jhipster:
  cors:
    allowed-origins: 'http://localhost:8100,https://localhost:8100,http://localhost:9000,https://localhost:9000,http://localhost:9060,https://localhost:9060'
    allowed-origin-patterns: 'https://*.githubpreview.dev'
    allowed-methods: '*'
    allowed-headers: '*'
    exposed-headers: 'Authorization,Link,X-Total-Count,X-${jhipster.clientApp.name}-alert,X-${jhipster.clientApp.name}-error,X-${jhipster.clientApp.name}-params'
    allow-credentials: true
    max-age: 1800
  security:
    authentication:
      jwt:
        base64-secret: Nzg3MjY3YmI4OGIyN2FkZDhmMWIwM2Y5NDY4YmZjOWNlNzc4MmQ0NWU4MTQxMmY1ZDQ5YzYxZTYyNzhjNjQwODk3NDEyMmYxMmQyYWIyODRjMDM5YmVhZDg1N2Q0ZjNhYTVlOTY4NjE1NDFiNTZjZWFmMWE0NjFiZGI2MDg0Mzg=
        token-validity-in-seconds: 86400
        token-validity-in-seconds-for-remember-me: 2592000
  mail:
    base-url: http://127.0.0.1:8080
  logging:
    use-json-format: false
    logstash:
      enabled: false
      host: localhost
      port: 5000
      ring-buffer-size: 512

application:
  minio:
    url:
    access-key:
    secret-key:
    bucket-name:
